In [1]:
import pandas as pd
import numpy as np


pd.set_option('display.max_columns', None)

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('shark_clean.csv', encoding='latin1')

In [3]:
import mysql.connector as conn

In [4]:
crea_db=conn.connect(host='localhost', user='root', passwd='Vdpsvdps1')

In [5]:
cursor=crea_db.cursor()

In [6]:
cursor.execute('drop database if exists sharks')  # si existe la base de datos, borrala

cursor.execute('create database sharks')   # crea la base de datos

In [7]:
cursor.execute('show databases')
for x in cursor:
    print(x)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('proyectosharks',)
('publication',)
('sakila',)
('sharks',)
('sys',)
('world',)

In [8]:
db=conn.connect(host='localhost', user='root', passwd='xxx', database='sharks')

cursor=db.cursor()

In [9]:
df.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [16]:
nuevas_col = ['case_number','date','year','type','country','area','location','activity','name','sex','age','injury','fatal','time','species','investigator','pdf','formula','href','case_number_1','case_number_2','original_order','unnamed_22','unnamed_23']

df

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,2018-06-25,2018,Sea Disaster,USA,California,"Oceanside, San Diego County",Paddling,Classified,F,57,No injury,N,Afternoon,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6303,None,None
1,2018.06.18,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Swimming,Classified,F,11,No injury,N,Afternoon,Unknown,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6302,None,None
2,2018.06.09,2018-06-09,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,Classified,M,48,Medium Injury,N,Morning,Unknown,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6301,None,None
3,2018.06.08,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Classified,M,0,No injury,N,Unknown,Not specified,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6300,None,None
4,2018.06.04,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Swimming,Classified,M,0,Shark attack not defined,N,Unknown,Tiger shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6299,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Unknown,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Swimming,Classified,M,0,FATAL,Y,Unknown,Unknown,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,6,None,None
6298,ND.0004,Unknown,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Swimming,Classified,M,0,FATAL,Y,Unknown,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,5,None,None
6299,ND.0003,Unknown,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Classified,M,0,FATAL,Y,Unknown,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,4,None,None
6300,ND.0002,Unknown,0,Unprovoked,PANAMA,Uknown,"Panama Bay 8ÂºN, 79ÂºW",Not relevant,Classified,M,0,FATAL,Y,Unknown,Unknown,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,3,None,None
6301,ND.0001,Unknown,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Classified,M,15,FATAL,Y,Unknown,Unknown,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,None,None,None,2,None,None

In [17]:
df = df.rename(columns={k:v for k,v in zip(df.columns, nuevas_col)})

In [18]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator', 'pdf', 'formula', 'href', 'case_number_1',
       'case_number_2', 'original_order', 'unnamed_22', 'unnamed_23'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_number     6302 non-null   object
 1   date            6302 non-null   object
 2   year            6302 non-null   int64
 3   type            6302 non-null   object
 4   country         6302 non-null   object
 5   area            6302 non-null   object
 6   location        6302 non-null   object
 7   activity        6302 non-null   object
 8   name            6302 non-null   object
 9   sex             6302 non-null   object
 10  age             6302 non-null   object
 11  injury          6302 non-null   object
 12  fatal           6302 non-null   object
 13  time            6302 non-null   object
 14  species         6302 non-null   object
 15  investigator    6302 non-null   object
 16  pdf             6302 non-null   object
 17  formula         6301 non-null   object
 18  href            6302 non-null   object
 19  case_number_1   6302 non-null   object
 20  case_number_2   6302 non-null   object
 21  original_order  6302 non-null   int64
 22  unnamed_22      6302 non-null   object
 23  unnamed_23      6302 non-null   object
dtypes: int64(2), object(22)
memory usage: 1.2+ MB

In [20]:
df.age=df.age.replace('Unknown',0)

In [21]:
df.age=df.age.astype(int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_number     6302 non-null   object
 1   date            6302 non-null   object
 2   year            6302 non-null   int64
 3   type            6302 non-null   object
 4   country         6302 non-null   object
 5   area            6302 non-null   object
 6   location        6302 non-null   object
 7   activity        6302 non-null   object
 8   name            6302 non-null   object
 9   sex             6302 non-null   object
 10  age             6302 non-null   int64
 11  injury          6302 non-null   object
 12  fatal           6302 non-null   object
 13  time            6302 non-null   object
 14  species         6302 non-null   object
 15  investigator    6302 non-null   object
 16  pdf             6302 non-null   object
 17  formula         6301 non-null   object
 18  href            6302 non-null   object
 19  case_number_1   6302 non-null   object
 20  case_number_2   6302 non-null   object
 21  original_order  6302 non-null   int64
 22  unnamed_22      6302 non-null   object
 23  unnamed_23      6302 non-null   object
dtypes: int64(3), object(21)
memory usage: 1.2+ MB

In [23]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal', 'time', 'species',
       'investigator', 'pdf', 'formula', 'href', 'case_number_1',
       'case_number_2', 'original_order', 'unnamed_22', 'unnamed_23'],
      dtype='object')

In [24]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

formula    1
dtype: int64

In [25]:
df.date=df.date.fillna('Unknown')
df.formula=df.formula.fillna('Unknown')

In [26]:
# crear una tabla

cursor.execute('drop table if exists sharks')   # borra la tabla si existe



tabla='''
        create table sharks(
            
            id int,
            case_number varchar(500),
            date varchar(500),
            year int,
            type varchar(500),
            country varchar(500),
            area varchar(500),
            location varchar(500),
            activity varchar(500),
            name varchar(500),
            sex varchar(500),
            age int,
            injury varchar(500),
            fatal varchar(500),
            time varchar(500),
            species varchar(500),
            investigator varchar(500),
            pdf varchar(500),
            formula varchar(500),
            href varchar(500),
            case_number_1 varchar(500),
            case_number_2 varchar(500),
            original_order int,
            unnamed_22 varchar(500),
            unnamed_23 varchar(500)

        );
'''


cursor.execute(tabla)

In [27]:
cursor.execute('show tables')
for x in cursor:
    print(x)

('sharks',)

In [28]:
for i in range(len(df)):
    
    
    insert_query='insert into {} ({}) values {};'\
                    .format('sharks', ','.join(df.columns), tuple(df.iloc[i].values))
    
    cursor.execute(insert_query)
    
db.commit()